# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.venv/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Matplotlib cache
.matplotlib/

# Coverage
htmlcov/
.coverage
.coverage.*

# Temporary files
*.tmp
*.swp
